<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LED-Interface</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <script src="{{ url_for('static', filename='react-bootstrap/dist/react-bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Header.js') }}" type="text/jsx"></script>
    <script src="{{ url_for('static', filename='NavBar.js') }}" type="text/jsx"></script>
    <script src="{{ url_for('static', filename='MainContent.js') }}" type="text/jsx"></script>

    <script src="{{ url_for('static', filename='Footer.js') }}" type="text/jsx"></script>
    <script src="{{ url_for('static', filename='Layout.js') }}" type="text/jsx"></script>
    <script src="{{ url_for('static', filename='List.js') }}" type="text/jsx"></script>
        <script src="{{ url_for('static', filename='Parameter.js') }}" type="text/jsx"></script>

    <!--need to improve this script-->
    <script>
    var data='{{ data|tojson }}';
    var input_data = JSON.parse(data);
    var pageName='{{page}}';

    </script>

    <script src="{{ url_for('static', filename='main.js') }}" type="text/jsx"></script>
</head>

<body>
     <div id="layout">bah</div>
</body>
</html>
